* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    background: lightblue;
    width: 500px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.header {
    color: darkslateblue;
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
}

.task-input {
    outline: none;
    width: 300px;
    padding: 4px;
    margin-right: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 2px solid skyblue;
    border-radius: 10px;
    resize: none; /* prevent manual resizing */
    overflow: hidden; /* hide overflow */
}

.button-add {
    width: 100px;
    padding: 4px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
    border: 0;
    background-color: white;
    border: 2px solid skyblue;
    cursor: pointer;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 6px;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.button-complete,
.button-delete,
.button-edit {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    border-radius: 50%;
    margin-right: 8px;
}

.button-edit {
    color: darkred;
}

.button-delete {
    color: green;
}

.button-complete {
    color: rgb(3, 62, 3);
}


.list {
    width:280px;
    max-width: 280px;
    background-color: lightseagreen;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    padding: 6px; 
    margin-right: 15px;
    align-items: center;
    word-wrap: break-word; 
    overflow-wrap: break-word; 

}

input:focus,
button:focus {
    outline: none;
}

.task-list {
    width: 100%;
    margin-top: 20px;
}

.section {
    background: lightblue;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px lightslategray;
    margin-bottom: 20px;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}
.swal2-popup {
    background-color: lightblue; 
    border: 2px solid skyblue;  
    width: 400px;
    height: 250px; 
    position: absolute;
    top: 10px;

}

.swal2-title {
    color: darkslateblue; 
    font-size: large;
    margin-bottom: 5px;
    text-align: center;
   
}
.swal2-icon{
    margin-top: 10px;
    margin-bottom: 5px;

}

.swal2-icon.swal2-success .swal2-success-ring {
    border-color: rgb(3, 62, 3); 
}


.swal2-icon.swal2-success [class^='swal2-success-line'] {
    background-color: rgb(3, 62, 3); 
}

.swal2-icon.swal2-warning {
    color: orange;
    font-size: 10px;
    

}


.swal2-styled.swal2-confirm,.swal2-styled.swal2-cancel {
    background-color: blue ;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    margin: 10px;
    cursor: pointer;
  
   
}

.swal2-styled.swal2-cancel {
    background-color: red;
   
}
